@using pauperbv_2._0.Models;
@using System.Data;
@{
    ViewBag.Title = "edit";
    song song = new song();

    DataRow dRow = song.editSong();

    if (IsPost)
    {
        song.editSongSend();
        Response.Redirect("show?code=");
    }

}

<style>
       input  
    {
        display: table;
        margin: 5px;
    }
</style>

<h2>edit</h2>

<form action="" method="post">
    id: <input type="text" name="id" value="@dRow["id"]" readonly/>
    artist: <input type="textbox" name="artist" value="@dRow["artist"]" />
    title: <input type="textbox" name="title" value="@dRow["title"]" />
    year: <input type="textbox" name="year" value="@dRow["year"]" />
    genre: <input type="textbox" name="genre" value="@dRow["genre"]" />
    time: <input type="textbox" name="time" value="@dRow["time"]" />
    youtube-link: <input type="textbox" name="file" value="@dRow["file"]" />

    <input type="submit" name="edit" value="Add song" />

</form>

