@using System.Web;
@using System.Data;

@{
    ViewBag.Title = "show";
}
<style>
    tr {
        border-bottom: 1px solid black;
    }
    .title-td {
        font-weight: bold;
    }
    td {
        width: 150px;
        overflow: hidden;
    }
    #header_div {
        
        width:150px;
    }
    #header_div img {
        width:25px;
        height:25px;
        margin-left: 1028px;
        }

</style>
<div id="header_div">
    <h2>show</h2>


    <a href="add">
        <img src="../../img/plusButton.png" class="" id="plusButton" style=" height 25px;
             width 25px;" />
    </a>
</div>

<table class="">
        <tr class="title-td">
            <td>id</td>
            <td>artist</td>
            <td>title</td>
            <td>year</td>
            <td>genre</td>
            <td>time</td>
            <td>key</td>
            <td></td>

        </tr>
    @foreach (DataRow dr in ViewBag.data)
    {
        <tr>
            <td><b>@dr["id"].</b></td> 
            <td>@dr["artist"]</td>   
            <td>@dr["title"]</td>
            <td>@dr["year"]</td>
            <td>@dr["genre"]</td>
            <td>@dr["time"]</td>
            <td>@dr["file"]</td>
            <td>
                <a href="edit?id=@dr["id"]"><img src="../../img/editButton.png" class="crudButtons" id="editButton" style="  height: 25px;
        width: 25px;" /></a>
                <a href="delete?id=@dr["id"]"><img src="../../img/deleteButton.png" class="crudButtons" id="deleteButton" style="  height: 25px;
        width: 25px;" /></a>
                <a href="play?code=@dr["file"]"><img src="../../img/playButton.png" style="  height: 25px;
        width: 25px;"/></a>
            </td>
        </tr>
    }
</table>

